@charset "utf-8";

*{
  box-sizing: border-box;  
}

body{
 font-family: 'Noto Sans JP', sans-serif;
  /* font-family: 'Sora', sans-serif; */
 line-height: 1.6;
 letter-spacing: 0.1rem;
 color: #383838 !important;
}

h1,
h2,
h3,
h4{
  font-weight: 700 !important; 
  letter-spacing: 0.2rem;
}

/* header */
#header{
  position: relative;
}

.header{
  position: fixed;
  top: 0;
  left: 5%;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

h1 img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000;
  object-fit: cover;
  opacity: .8;
}


ul li a{
  color: goldenrod !important;
  transition: 0.3s;
}

ul li a:hover{
  color: #ffb3f2cc !important;
}

ul li{
  list-style: none;
  cursor: pointer;
}

/* profile */

.hero{
  background-image: url(flower.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:blanchedalmond;
  opacity: .4;
  z-index: -1;
}

.mysite{
  padding-top: 30px;
}

/* works */

h3{
  text-align: center;
  padding: 150px 0;
}

.project{
  position: relative;
}

.project img{
  width: 100%;
}

.project .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 39, 71, .7);
  padding: 20px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: all 0.4s ease;
}

.project:hover .overlay{
  opacity: 1;
}


/* about */

.main-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 50px;
}

.inner{
  padding: 0 50px;
  max-width: 1200px;;
  margin: 0 auto;
}

/* contact */
.contact{
  padding-bottom: 50px;
}
input,
textarea{
  width: 100%;
}

textarea{
  height: 150px;
}

/* footer */

footer{
  background: #333;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 200px;
  line-height: 200px;
  letter-spacing: 0.2rem;
}

@media (max-width:540px){
  h3{
    padding: 50px 0 !important;
  }
}

@media (max-width:768px){
  label{
    margin: 5px 0 !important;
  }
}